<div class="dashboard-background" [class.rainy]="
        backgroundClass() === 'rainy'
    " [class.sunny]="
        backgroundClass() === 'sunny'
    " [class.cloudy]="
        backgroundClass() === 'cloudy'
    " [class.default]="
        backgroundClass() === 'default'
    ">

    <div class="glow glow-1"></div>

    <div class="glow glow-2"></div>

</div>

<div class="weather-dashboard">

    <div class="dashboard-top">

        <app-weather-search [isLoading]="isLoading()" [suggestions]="suggestions()" (search)="searchCity($event)"
            (searchInputChange)="
                searchSuggestions($event)
            " />

    </div>

    <div class="dashboard-hero">

        <app-weather-hero [temperature]="temperature()" [feelsLike]="feelsLike()" [conditionIcon]="conditionIcon()"
            [city]="city()" [condition]="condition()" [localTime]="formattedLocalTime()" [greeting]="greeting()"
            [isLoading]="isLoading()" />

    </div>

    <div class="dashboard-forecast">

        <app-forecast-timeline [forecast]="forecast()" />

    </div>

    <div class="dashboard-stats">

        @for (
        stat of stats();
        track stat.label
        ) {

        <app-stat-card [label]="stat.label" [value]="stat.value" [isLoading]="isLoading()" />

        }

    </div>

</div>