<div class="weather-atmosphere" [ngClass]="backgroundClass()">

    <div class="floating-glow glow-1"></div>
    <div class="floating-glow glow-2"></div>

    <div class="weather-particles"></div>

    @if (backgroundClass() === 'rainy') {

    <div class="rain-layer"></div>

    }

    @if (backgroundClass() === 'storm') {

    <div class="lightning-flash"></div>

    }

    @if (
    backgroundClass() === 'cloudy' ||
    backgroundClass() === 'rainy' ||
    backgroundClass() === 'storm'
    ) {

    <div class="cloud-layer layer-1"></div>

    <div class="cloud-layer layer-2"></div>

    }

    @if (backgroundClass() === 'sunny') {

    <div class="sun-rays"></div>

    <div class="sun-particles"></div>

    }

</div>

<div class="cursor-glow"></div>

<div class="weather-dashboard" [class.loading-transition]="isLoading()">

    <!-- SEARCH -->

    <div class="dashboard-search">

        <app-weather-search [isLoading]="isLoading()" [suggestions]="suggestions()" (search)="searchCity($event)"
            (searchInputChange)="searchSuggestions($event)" />

    </div>

    <!-- TOP GRID -->

    <div class="top-grid">

        <!-- LEFT -->

        <div class="hero-section">

            <div class="hero-stats-layout">

                <!-- HERO -->

                <div class="hero-panel">

                    <app-weather-hero [temperature]="temperature()" [feelsLike]="feelsLike()"
                        [conditionIcon]="conditionIcon()" [city]="city()" [condition]="condition()"
                        [localTime]="formattedLocalTime()" [greeting]="greeting()" [isLoading]="isLoading()" />

                </div>

                <!-- STATS -->

                <div class="stats-grid">

                    @for (
                    stat of stats();
                    track stat.label
                    ) {

                    <app-stat-card [label]="stat.label" [value]="stat.value" [isLoading]="isLoading()" />

                    }

                </div>

            </div>

        </div>

        <!-- RIGHT -->

        <div class="forecast-section">

            <app-daily-forecast [forecast]="dailyForecast()" />

        </div>

    </div>

    <!-- MIDDLE -->

    <div class="middle-grid">

        <div class="hourly-section">

            <app-forecast-timeline [forecast]="forecast()" />

        </div>

        <div class="insight-section">

            <app-weather-insight [insight]="streamedInsight()" [isLoading]="isInsightLoading()" />

        </div>

    </div>

    <!-- BOTTOM -->

    <div class="bottom-grid">

        <div class="chart-section">

            <app-temperature-chart [forecast]="forecast()" />

        </div>

        <div class="map-section">

            <app-weather-map [city]="city()" [latitude]="latitude()" [longitude]="longitude()" />

        </div>

    </div>

</div>