<div class="search-wrapper">

    <div class="search-input-container">

        <span class="search-icon">
            🔍
        </span>

        <input type="text" placeholder="Search city..." [value]="cityName()" (input)="updateCity($event)"
            (keyup.enter)="searchCity()" [disabled]="isLoading()" />

    </div>

    <button (click)="searchCity()" [disabled]="isLoading()">

        @if (isLoading()) {

        Loading...

        } @else {

        Search

        }

    </button>

</div>