<div class="forecast-wrapper">
    <div class="forecast-header">
        <h3> Hourly Forecast </h3>
        <p> Upcoming weather conditions </p>
    </div>
    <div class="forecast-strip">
        @if (isLoading()) {
        <div class="forecast-skeleton">
            @for (
            item of [1,2,3,4,5,6,7,8,9,10];
            track item
            ) {
            <div class="hour-skeleton"></div>
            }
        </div>
        } @else {
        @for (
        hour of forecast();
        track hour.time;
        let first = $first
        ) {
        <div class="forecast-item" [class.active-hour]="first">
            <p class="forecast-time"> {{ hour.time }} </p>
            <div class="forecast-icon-wrapper">
                <img [src]="hour.icon" [alt]="hour.time" />
            </div>
            <h4 class="forecast-temp"> {{ hour.temperature }} </h4>
        </div>
        }
        }
    </div>
</div>