@if (isLoading()) {

<div class="hero-skeleton">
    <div class="skeleton skeleton-temp"></div>
    <div class="skeleton skeleton-city"></div>
    <div class="skeleton skeleton-condition"></div>
</div>

} @else {

<div class="hero-layout">
    <div class="hero-content">
        <!-- Greeting -->
        <div class="hero-top-row">
            <p class="hero-greeting">{{ greeting() }}</p>
            <p class="hero-time"> 🕒 {{ localTime() }} IST</p>
        </div>

        <!-- Temperature + Icon -->
        <div class="hero-temp-row">
            <h1 class="hero-temp"> {{ temperature() }} </h1>
            <img class="hero-main-icon" [src]="conditionIcon()" [alt]="condition()" />
        </div>

        <!-- City -->
        <h2 class="hero-city"> {{ city() }}</h2>

        <!-- Condition -->
        <div class="hero-condition-pill"> {{condition()}} </div>

        <!-- Details -->
        <div class="hero-high-low">
            <span> ↑ {{ maxTemp() }} </span>
            <span> ↓ {{ minTemp() }} </span>
        </div>

        <!-- Sunrise Sunset -->
        <div class="hero-sun-times">
            <span> 🌅 {{ sunrise() }} </span>
            <span> 🌇 {{ sunset() }} </span>
        </div>
    </div>
</div>
}