<div class="hero-card">

    @if (isLoading()) {

    <div class="skeleton skeleton-temp"></div>

    <div class="skeleton skeleton-city"></div>

    <div class="skeleton skeleton-condition"></div>

    } @else {

    <div class="hero-main">

        <div class="hero-left">

            <h2>{{ temperature() }}</h2>

            <p class="feels-like">
                Feels like {{ feelsLike() }}
            </p>

            <div class="hero-meta">

                <p class="greeting">
                    {{ greeting() }}
                </p>

                <h3>{{ city() }}</h3>

                <div class="condition-pill">

                    <span>
                        {{ condition() }}
                    </span>

                </div>

                <p class="local-time">
                    {{ localTime() }}
                </p>

            </div>

        </div>

        <div class="hero-right">

            <img [src]="conditionIcon()" [alt]="condition()" />

        </div>

    </div>

    }

</div>